body{
    margin: 0px;
    padding: 0px;
    background: white;
  }

  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  .appbar{
    display: flex;
    border: 1px solid black;
    position: relative;
    text-align: center;
    justify-content: center;
    width: auto;
    margin-bottom: 1vw;
    height: 16vw;
  }
  .appbutton img{
    cursor: pointer;
    margin-left: .5vw;
    margin-right: .5vw;
    border-radius: .5vw;
    -webkit-filter: grayscale(100%) opacity(50%);
    /* -webkit-filter: opacity(50%); */
    filter: grayscale(100%) opacity(50%);
    /* filter: opacity(50%); */
    box-shadow: 0px 0px .2vw black;
    transform: translate(0%, 15%);
    transition: all .25s ease-out;
    width: 12vw;
  }
  .appbutton img:hover{
    /* width: 16vw; */
    -webkit-filter: grayscale(0%) opacity(100%);
    /* -webkit-filter: opacity(100%); */
    filter: grayscale(0%) opacity(100%);
    /* filter: opacity(100%); */
    /* transform: translate(0%, 0%); */
  }
  .namebar{
    border: 1px solid black;
    position: relative;
    text-align: center;
    width: auto;
    margin-bottom: 1vw;
    height: 5vw;
  }
  .namebar h1{
    border: 0px solid black;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 3.5vw;
    text-shadow: .1vw .1vw #aaaaaa;
    color: #333333;
    width: auto;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translate(0%, 0%);
  }
  .tag{
    border: 0px solid black;
    height: 3vw;
    justify-content: center;
    flex-wrap: nowrap;
    text-shadow: 0px 0px white;
    font-size: 2.5vw;
    background: grey; 
    padding: .3vw .4vw;
    margin-left: .5vw;
    border-radius: .25vw;
    font-weight: bold;
    color: white;
    transform: translate(0%, 15%);
    transition: all .5s ease-out;
  }
  .designer {
    background: #339933;
  }
  .programmer{
    background: #333399;
  }
  .artist{
    background: #993333;
  }
  .carousel{
    border: 1px solid black;
    text-align: center;
    width: 100vw;
    height: 40vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 1vw;
  }
  .contacts{
    border: 1px solid black;
    position: relative;
    text-align: center;
    width: auto;
    margin-bottom: 5px;
    height: 4vw;
  }

  /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }